body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 300px;
    width: 90%;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #ccc;
    text-align: center;
}

.controls {
    margin-bottom: 20px;
    text-align: left;
}

.controls input[type="number"] {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #0066cc;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #004d99;
}

.timer {
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
    border: 3px solid #444;
    padding: 20px;
    border-radius: 20px;
    background: #ceedf0;

    /* Crescer para dentro*/
    outline: 0px solid red;
    outline-offset: -3px;
}
.sound-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #0066cc;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 18px;
    cursor: pointer;
}

.sound-btn:hover {
    background: #4e4b4b;
}


/* ANIMAÇÃO nos últimos 60 segundos */
.warning {
    animation: pulse 0.5s infinite;
    
    outline-color: red;
}

@keyframes pulse {
    0%{outline-color: red;}
    50%{outline-color: red;}
    100%{outline-color: red;}

    0% { box-shadow: 0 0 5px red; }
    50% { box-shadow: 0 0 29px red; }
    100% { box-shadow: 0 0 7px red; }
}
